body {
  background-color: rgba(233, 233, 233, 1);
}
.in-progress,
.resolved {
  position: relative;
}

.in-progress::before,
.resolved::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55%;
  height: 100%;
  background: url("./assets/vector1.png") no-repeat left center;
  /* background-size: contain; */
  /* z-index: 1; */
}

.in-progress::after,
.resolved::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 55%;
  height: 100%;
  background: url("./assets/vector1.png") no-repeat right center;
  background-size: contain;
  transform: rotate(0deg);
  /* z-index: 1; */
}

footer .bb {
  border-bottom: 1px solid rgba(255, 255, 255, 0.189);
  padding-bottom: 20px;
}
